<html lang="en" class="h-100">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="csrf-token"
          content="5ba5b.ZOcw433ftRVpjOVOUraQmxsxdu5C-mP_n9YGu41DAzw.DqJlpD6q9i0R-rY8JOS9y0gIRo04qyTI1LVozOgJVk8Is0KaPpn9YyfjqA">
    <meta name="description" content=""/>
    <meta charset="UTF-8">
    <title>
    </title>

    <!--link crossorigin rel="stylesheet" href="/build/style-BYUqtDXa.css" -->


</head>

<body class="d-flex flex-column h-100">

<header>
    <nav id="navbar0" class='navbar navbar-expand-md fixed-top navbar-dark bg-white shadow-sm'>
        <a class='navbar-brand mr-auto mr-lg-0' href='/'>
            <picture>
                <source srcset="/build/images/logos/lesprixbas_smaller.png" media="(max-width: 1200px)"/>
                <source srcset="/build/images/logos/lesprixbas_small.png" media="(min-width: 1200px)"/>
                <img id="logo" src='/build/images/logos/lesprixbas_small.png' alt='Les Prix Bas'/>
            </picture>
        </a>

        <div id="subnavbar0" class='navbar-collapse offcanvas-collapse'>
            <ul class="navbar-nav navbar-dark mr-auto">
            </ul>
            <form id="form0" class="my-2 btn-group" action="javascript:void(0)" method="GET">
                <input id='search' name='product' class='form-control' type='text' placeholder='Lancez-vous'
                       aria-label='Recherche'/>
                <button type="submit" id='submit-search-cta' class='btn btn-outline-success my-sm-0'>
                    <i class="fa fa-search"></i>
                </button>
            </form>


            <span id="cart-cta" class="btn btn-outline-success my-2 my-sm-0 ml-3" href="javascript:void(0)">
    <i class="fa fa-shopping-cart"></i>
    <span id="cart-count" name="quantity" class="disabled sl-1">0</span>&nbsp;&nbsp;
    <span id="cart-total" name="price" class="disabled sl-1">0,00 €</span>
</span>


            <button type="button" class="btn btn-secondary dropdown-toggle my-2 my-sm-0 ml-3" id="dropdown01"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby='dropdown01'>
                <a class="dropdown-item" href="/login">Connexion</a>
                <a class="dropdown-item" href="/register">Pas encore inscrit ?</a>

                <a class='dropdown-item' href='/'>F.A.Q</a>
                <a class='dropdown-item' href='/'>Mentions légales</a>
            </div>

        </div>
    </nav>

    <div id="placeholder" aria-label="placeholder">
    </div>

    <div id="subnavbar1" class='nav-scroller bg-light shadow-sm'>
        <nav class='nav nav-underline'>
            <div class='nav-item active'>
                <a class='nav-link bg-light align-text-bottom' href='/'>
                    Tous nos rayons <span class='sr-only'>(current)</span>
                </a>
            </div>
        </nav>
    </div>
</header>

<nav id="breadcrumb0" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item"><a href="#">Mode femme</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tee-shirt uni à bretelles maille élastique</li>
    </ol>
</nav>


<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">

            <div class="row mx-1">
                <div id="product" name="product-data" data-id="3">
                    <h4 class="featurette-heading">
                        Tee-shirt uni à bretelles maille élastique
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between mx-1">
                <div>
                    <h5 class="featurette-heading">
                        Le Vestiaire
                    </h5>
                </div>
                <div>
                    <h3 id="price-tag" name="unit-price" data-discount-rate="0"
                        class="btn-outline-success disabled">
                        13,99 €&nbsp
                    </h3>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Description</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Livraison</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Garanties</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class='lead'>
                    </p>
                    <p class=''>
                        Ce tee-shirt à fines bretelles, indispensable en toutes saisons, se porte seul ou associé à d&#039;autres
                        tenues. Tee-shirt uni. Encolure arrondie. Fines bretelles. En maille jersey élastique. Longueur
                        60 cm environ.
                    </p>
                    <label for='features'>Information complémentaires :</label>
                    <ul id='features'>
                        <li>Lavage 30°</li>
                        <li>Repassage faible température</li>
                        <li>Pas de séchage en tambour</li>
                        <li>95% coton, 5% élasthanne</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    ...
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    ...
                </div>
            </div>
            <div class="row justify-content-between mx-1 my-2">
                <div>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                Quantité
                            </a>
                        </li>
                        <li class="page-item">
                            <a id="less" name="quantity-handler" class="page-link" href="javascript:void(0)">
                                -
                            </a>
                        </li>
                        <li class="page-item disabled">
                <span id="quantity" name="count" class="page-link">
                    1
                </span>
                        </li>
                        <li class="page-item">
                            <a id="more" name="quantity-handler" class="page-link" href="javascript:void(0)">
                                +
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <button id="add-to-cart" type="button" class="btn btn-outline-primary">
                        Ajouter au panier
                    </button>
                </div>

            </div>
        </div>

        <div class="col-md-5 order-md-1">


            <div id="main-picto">
                <img
                    src="/build/images/blank.gif"
                    data-src="http://localhost:8081/build/images/articles/tee-shirt-uni-a-bretelles-maille-elastique-femme-noir-1.webp"
                    name="picto" alt="T-shirt uni à bretelles noir maille élastique pour femme 1/3"
                    title="T-shirt uni à bretelles noir pas cher maille élastique "
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    aria-label="T-shirt uni à bretelles noir pas cher maille élastique "
                />
            </div>


            <button class="btn focus" name="btn-picto" focusable="true" data-toggle="button" aria-pressed="true">
                <img
                    src="/build/images/blank.gif"
                    data-src="http://localhost:8081/build/images/articles/tee-shirt-uni-a-bretelles-maille-elastique-femme-noir-1.webp"
                    name="picto" alt="T-shirt uni à bretelles noir maille élastique pour femme 1/3"
                    title="T-shirt uni à bretelles noir pas cher maille élastique "
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="50"
                    height="50"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    aria-label="T-shirt uni à bretelles noir pas cher maille élastique "
                />
            </button>
            <button class="btn" name="btn-picto" focusable="true" data-toggle="button" aria-pressed="true">
                <img
                    src="/build/images/blank.gif"
                    data-src="http://localhost:8081/build/images/articles/tee-shirt-uni-a-bretelles-maille-elastique-femme-noir-2.webp"
                    name="picto" alt="T-shirt uni à bretelles noir maille élastique pour femme 2/3"
                    title="T-shirt uni à bretelles noir pas cher maille élastique "
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="50"
                    height="50"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    aria-label="T-shirt uni à bretelles noir pas cher maille élastique "
                />
            </button>
            <button class="btn" name="btn-picto" focusable="true" data-toggle="button" aria-pressed="true">
                <img
                    src="/build/images/blank.gif"
                    data-src="http://localhost:8081/build/images/articles/tee-shirt-uni-a-bretelles-maille-elastique-femme-noir-3.webp"
                    name="picto" alt="T-shirt uni à bretelles noir maille élastique pour femme 3/3"
                    title="T-shirt uni à bretelles noir pas cher maille élastique "
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="50"
                    height="50"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    aria-label="T-shirt uni à bretelles noir pas cher maille élastique "
                />
            </button>

        </div>
    </div>
</div>

<footer class="py-5 border-top mt-auto bg-light">
    <div class="container bigfooter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <a href="/">
                        <img class="mb-2" src="/build/images/logos/lesprixbas_smaller.png" alt="Cpascher"/>
                    </a>
                    <small class="d-block mb-3 text-muted">&copy; 2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="/">
                                Cool stuff
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Random feature
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Team feature
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Stuff for developers
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Another one
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Last time
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="/">
                                Resource
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Resource name
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Another resource
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Final resource
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="/">
                                Team
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Locations
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="/">
                                Terms
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script crossorigin type="module" src="/build/app-JQzwez1I.js"></script>

</body>

</html>
