<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}{% endblock %}

    {{ vite_entry_link_tags('style') }}
    {% block head_javascripts %}{% endblock %}

    {% if app.session.flashbag.peekAll|length > 0 %}
    <style>
        .invalid-feedback {
            display: block !important;
        </style>
    {% endif %}
</head>

<body class="d-flex flex-column h-100">
    {{ include('header/admin.html.twig') }}
    {% block children %}{% endblock %}
    {{ include('footer/admin.html.twig') }}
    {{ vite_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
