{% extends 'layouts/app.html.twig' %}

{% block children %}
<div class="container">
    <div class="row my-5 justify-content-center">
        <h1 class="text-center">
            Oops!<br /> Nous n'avons pas ce produit en magasin...
        </h1>
    </div>

    <div class="row justify-content-center">
        <img src="{{ asset("/build/images/lesprixbas_404.webp") }}" width="500" height="500" alt="404 page not found" />
    </div>
</div>
{% endblock %}
