{% extends 'layouts/admin.html.twig' %}

{% block children %}
    <div class="container">
        <h2 class="text-center my-5">
            Ajouter une marque
        </h2>
        <form method="POST" action="{{ path('admin_brands_store') }}">
            {{ csrf_token('brands') }}
            <div class="col-12">
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" name="name" class="form-control" placeholder="Nom de la marque" />
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center mb-5">
                    <button type="submit" class="btn btn-outline-primary">Valider</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}