{% extends 'layouts/admin.html.twig' %}

{% block title %}
    Association Campagne/Produit
{% endblock %}

{% block children %}
    <h1>CampaignProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campaign_product.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_campaign_product_index') }}">back to list</a>

    <a href="{{ path('admin_campaign_product_edit', {'id': campaign_product.id}) }}">edit</a>

    {{ include('admin/campaign_product/_delete_form.html.twig') }}
{% endblock %}
